# frontend
frontend/user-dashboard/node_modules/
frontend/user-dashboard/dist/
frontend/user-dashboard/.next/

# backend (ASP.NET Core)
backend/.vs/
backend/bin/
backend/obj/

# common
*.user
*.suo
*.db
# frontend
frontend/node_modules/
frontend/dist/
frontend/.next/

# backend (ASP.NET Core)
backend/.vs/
backend/bin/
backend/obj/

# common
*.user
*.suo
*.db
