# frontend
frontend/user-dashboard/node_modules/
frontend/user-dashboard/dist/
frontend/user-dashboard/.vite/
frontend/admin-dashboard/node_modules/
frontend/admin-dashboard/dist/
frontend/admin-dashboard/.vite/

# backend (ASP.NET Core)
backend/UdemyApp/.vs/
backend/UdemyApp/bin/
backend/UdemyApp/obj/

# common
*.user
*.suo
*.db
# frontend


backend/**/.vs/
backend/**/bin/
backend/**/obj/

# common
*.user
*.suo
*.db
